.footer__social-icon-instagram {
    width: 18px;
}

@media screen and (max-width: 600px) {
    .footer__social-icon-instagram {
        width: 12px;
    }
}

@media screen and (max-width: 420px) {
    .footer__social-icon-instagram {
        width: 18px;
    }
}