{% import '@SyliusUi/Macro/messages.html.twig' as messages %}
{% import '@SyliusUi/Macro/pagination.html.twig' as pagination %}

{% if resources.data|length > 0 %}
    <div class="yarn yarn__box" id="products">
        {% for product in resources.data %}
            <figure class="yarn__container yarn__container-catalog">
                {% include '@SyliusShop/Product/_box.html.twig' %}
            </figure>
        {% endfor %}
    </div>
    {{ pagination.simple(resources.data) }}
{% else %}
    {{ messages.info('sylius.ui.no_results_to_display') }}
{% endif %}
