    <div class="section-title">
        <h2 class="section-title__h2"><a href="{{ path('sylius_shop_news_index') }}" class="section">{{ 'app.ui.uncost'|trans }}</a></h2>
    </div>
{{ render(url('sylius_shop_partial_news_index_latest', {'count': 10, 'template': 'news/helper/_tableNews.html.twig'})) }}
