.basket__title-mobile {
    display: none;
}

@media screen and (max-width: 700px) {
    .basket__title-mobile {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 5%;
    }
}

@media screen and (max-width: 500px) {
    .basket__title-mobile {
        margin: 0;
    }
}