.yarn__img-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 270px;
    margin: 0 18px 22px 0;
    font-family: "Roboto", Arial, sans-serif;
}

.yarn__img-container:nth-child(4n) {
    margin-right: 0 !important;
}


@media screen and (max-width: 1030px){
    .yarn__img-container {
        width: 23.5%;
    }
}
@media screen and (max-width: 980px){
    .yarn__img-container {
        width: 23%;
    }
}
@media screen and (max-width: 740px){
    .yarn__img-container {
        width: 100%;
    }
}

@media screen and (max-width: 600px){
    .yarn__img-container {
        margin: 0 0 22px 0;
        max-width: 100%;
    }
}
@media screen and (max-width: 420px){
    .yarn__img-container {
        margin: 0 0 22px 0;
        width: 100%;
        max-width: 270px;
    }
}