@import url(__container/card__container.css);
@import url(__image/card__image.css);
@import url(__img/card__img.css);
@import url(__img-small/card__img-small.css);
@import url(__price/card__price.css);
@import url(__price-list/__price-list.css);
@import url(__price-structure/card__price-structure.css);
@import url(__price-description/card__price-description.css);
@import url(__price-accent/card__price-accent.css);
@import url(__img-link/card__img-link.css);
@import url(__title/card__title.css);


.card {
    font-family: "Roboto", Arial, sans-serif;
}

@media screen and (max-width: 420px) {
    .card {
        width: 79%;
    }
}

@media screen and (max-width: 320px) {
    .card {
        width: 100%;

    }
}





