{% extends "templates/baseEmailTemplate.html.twig" %}

{% block subject %}
    Подтверждение email-адреса
{% endblock %}

{% block templ0 %}
    {% set url = channel.hostname is not null ? 'https://' ~ channel.hostname ~ path('sylius_shop_user_verification', { 'token': user.emailVerificationToken}) : url('sylius_shop_user_verification', { 'token': user.emailVerificationToken}) %}
    {% autoescape %}
        Для подтверждения email-адреса перейдите по <a style="color: rgba(153, 200, 206, 1)" target="_blank" href="{{ url|raw }}">ссылке</a>
    {% endautoescape %}
{% endblock %}

{% block templ1 %}
    {% autoescape %}
        По всем возникающим вопросам обращаться по тел. <a style="color: rgba(153, 200, 206, 1)" href="tel:+7-983-395-86-13">+7-983-395-86-13</a>
    {% endautoescape %}
{% endblock %}