.basket__title {
    line-height: 41px;
    font-size: 35px;
    font-weight: bold;
    margin-right: 28px;
}

@media screen and (max-width: 500px) {
    .basket__title {
        margin: 0 0 5% 0;
        text-align: center;
    }
}