{% set block %}
    <div class="row">
        <div class="col-lg-12">
            <nav>
                <ul class="menu d-flex justify-content-center">
                    %data%
                </ul>
            </nav>
        </div>
    </div>
{% endset %}

{% set img = [] %}
{% set title = [] %}

{% for new in news %}
    {% set news_img %}
        <li class="menu__new">
{#            {{ new.createdAt|date("Y.m.d") }}#}
            <a href=""><a href=""><img src="http://placehold.it/288x288" class="imgblog" alt=""></a>
        </li>
    {% endset %}
    {% set img = img|merge([news_img]) %}

    {% set news_title %}
        <li class="menu__blog">
            <div class="hrefbold divblog"><a href="" class="">{{ new.shortText }}</a></div>
        </li>
    {% endset %}
    {% set title = title|merge([news_title]) %}

{% endfor %}

{{ block|replace({'%data%': img|join})|raw }}
{{ block|replace({'%data%': title|join})|raw }}
