  <div class="news__images">
      {% for new in news %}
           <ul class="news__image">
                <li class="news__list">
                    <div class="news__img news__img_one"></div>
{#                    Картинка подключается в класс news__img_one#}
                    <div class="news__calendar">
                        <h5 class="news__title">15 августа</h5>
                    </div>
                        <li class="news__list-info">
                            <a href="#" target="_blank" class="news__img_link">{{ new.shortText }}</a>
                        </li>
                </li>
           </ul>
      {% endfor %}
  </div>