{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
{{ render(url('slide_images_show', {'template': '@Image/slideShow.html.twig'})) }}
    <div class="section-title">
        <h2 class="section-title__h2">{{ 'sylius.ui.latest_products'|trans }}</h2>
    </div>
{{ render(url('sylius_shop_partial_product_index_latest', {'count': 8, 'template': '@SyliusShop/Product/_horizontalList.html.twig'})) }}
{% include 'news/partialNews.html.twig' %}
{% endblock %}
