
<button  class="form__submit-button form__submit-button-basket" type="button">
    <a href="{{ path('sylius_shop_checkout_start') }}" class="header__button-link"><img class="basket__confirm" src="/assets/shop/img/confirm.svg" alt=" ">{{ 'sylius.ui.checkout'|trans }}</a></button>



{#<a href="{{ path('sylius_shop_checkout_start') }}" class="ui huge primary fluid labeled icon button"><i class="check icon"></i> {{ 'sylius.ui.checkout'|trans }}</a>#}
