.news__img_link {
    text-decoration: none;
    color: #535353;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    max-width: 285px;
    margin: 0 auto;
}

@media screen and (max-width: 1024px){
    .news__img_link {
        font-size: 14px;
        line-height: 14px;

    }
}

@media screen and (max-width: 800px){
    .news__img_link {
        font-size: 12px;
        line-height: 12px;

    }
}
@media screen and (max-width: 420px){
    .news__img_link {
        font-size: 15px;
        line-height: 14px;


    }
}