{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}
<span class="promotional__price" id="product-price">
    {{ 'sylius.ui.from'|trans|lower }} {{ money.calculatePrice(product|marinewool_resolve_min_price_variant) }}
</span>