<section class="new promotional section">
    <div class="new__container">
        <h2 class="new__title">Акционные товары</h2>
        <button type="button" class="new__button">
            <a href="#" class="header__button-link">все товары <img src="/assets/shop/img/arrow-point-to-right.svg"
                                                                    class="new__arrow"></a>
        </button>
    </div>
    <div class="yarn">
        <figure class="promotional__container">
            <a href="#"><img src="/assets/shop/img/promotional-one.jpg" class="yarn__img"></a>
            <a class="yarn__title" href="#"> Пряжа Drops Baby Merino</a>
            <img src="/assets/shop/img/ellipse-green.svg" class="yarn__ellipse" alt="">
            <p class="promotional__price"> от 170 &#8381;</p>
            <p class="yarn__price"><span class="yarn__price_accent">от</span>156 &#8381;</p>
        </figure>
        <figure class="promotional__container">
            <a href="#"><img src="/assets/shop/img/promotional-two.jpg" class="yarn__img"></a>
            <a class="yarn__title" href="#"> Иглы для сшивания трикотажа KnitPro</a>
            <img src="/assets/shop/img//ellipse-green.svg" class="yarn__ellipse" alt="">
            <p class="promotional__price"> от 180 &#8381;</p>
            <p class="yarn__price"><span class="yarn__price_accent">от</span>170 &#8381;</p>
        </figure>
        <figure class="promotional__container">
            <a href="#"><img src="/assets/shop/img/promotional-three.jpg" class="yarn__img"></a>
            <a class="yarn__title" href="#"> Тросик для съемных укороченных спиц</a>
            <img src="/assets/shop/img/ellipse-green.svg" class="yarn__ellipse" alt="">
            <p class="promotional__price"> от 180 &#8381;</p>
            <p class="yarn__price"><span class="yarn__price_accent">от</span>165 &#8381;</p>
        </figure>
        <figure class="promotional__container">
            <a href="#"><img src="/assets/shop/img/promotional-four.jpg" class="yarn__img"></a>
            <a class="yarn__title" href="#"> Пряжа Drops Paris</a>
            <img src="/assets/shop/img/ellipse-green.svg" class="yarn__ellipse" alt="">
            <p class="promotional__price"> от 195 &#8381;</p>
            <p class="yarn__price"><span class="yarn__price_accent">от</span>175 &#8381;</p>
        </figure>
    </div>
</section>