<div class="catalog__products-container">
    <div class="catalog__products">
        <button type="button" class="filter__closed-icon"></button>
        <h3 class="filter__list filter__list_active">
            <a class="filter__link filter__link_active">Sandnes Garn<span
                        class="filter__list_country">(Норвегия) 6</span>
            </a>
        </h3>
    </div>
    <div class="catalog__products">
        <button type="button" class="filter__closed-icon"></button>
        <h3 class="filter__list filter__list_active">
            <a class="filter__link filter__link_active">Fonty
                <span class="filter__list_country">(Франция) 6</span>
            </a>
        </h3>
    </div>
</div>