<div class="banner">
    <img class="banner__img" src="/assets/shop/img/banner.jpg" alt="">
    <div class="banner__up-text">
      <img class="banner__logo" src="/assets/shop/img/logo.png" alt="">
      <span class="banner__logo-desc">интернет-магазин европейской пряжки, инструментов и аксессуаров для вязания</span>
    </div>
</div>