<div class="banner">
  <span class="banner__img"></span>
  <div class="banner__up-text">
    <span class="banner__logo"></span>
    <span class="banner__logo-desc">{{ sylius.channel.description|raw }}</span>
  </div>
</div>