<div class="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-xs-7 col-md-3 col-sm-3 xs-text-left">
                <a href="tel:+7-983-395-86-13" id="tel">
                    <i class="fa fa-phone fa-2x" aria-hidden="true"> +7-983-395-86-13</i>
                </a>
            </div>
            <div class="col-lg-2 col-xs-6 col-md-2 col-sm-3 hidden-xs">
                <a href="{{ path('sylius_shop_contact_request') }}" class="btn btn-default" role="button">{{ 'sylius.ui.contact_us'|trans  }}</a>
            </div>
            <div class="col-lg-2 col-xs-6 hidden-md hidden-xs hidden-sm">
                <a target="_blank" class="btn btn-social-icon btn-vk" href="https://vk.com/club144664503"><span class="fa fa-vk"></span></a>
                <a target="_blank" class="btn btn-social-icon btn-instagram" href="https://www.instagram.com/marinewool.ru/"><span class="fa fa-instagram"></span></a>
                <a target="_blank" class="btn btn-social-icon btn-instagram" href="https://ok.ru/group/53251639672985"><span class="fa fa-odnoklassniki-square"></span></a>
            </div>
            <div class="col-lg-3 col-xs-5 col-md-4 col-sm-3 xs-text-right">
                {{ render(url('sylius_shop_partial_cart_summary', {'template': '@SyliusShop/Cart/_widget.html.twig'})) }}
            </div>
            <div class="col-lg-2 hidden-xs col-xs-12 col-md-3 col-sm-3 text-right">
                <div class="header__right-btns">
                    {{ render(controller('sylius.controller.shop.security_widget:renderAction')) }}
                </div>
            </div> 
        </div>
    </div>
</div>