{#    </div>#}
{#</header>#}
{#            {% include '@SyliusShop/_banner.html.twig' %}#}
{#                {{ render(url('sylius_shop_partial_taxon_index_by_code', {'code': 'category', 'template': '@SyliusShop/Taxon/_newMenu.html.twig'})) }}#}
    {% include '@SyliusUi/_flashes.html.twig' %}
