<section class="mail section">
    <div class="mail__container">
        <h4 class="mail__title">{{ 'app.ui.subscribe'|trans|upper }}</h4>
        <p class="mail__subtitle">Узнавайте об акциях и новинках первым! Получайте советы и идеи для
            вдохновения!</p>
        <form action="#" class="mail__form">
            <div class="mail__form-box">
                <input name="name" type="text" placeholder="Ваш email" class="mail__form-input">
                <button type="submit" class="form__submit-button form__submit-button_mail">Подписаться</button>
            </div>
        </form>
    </div>
</section>