<div class="subscribe">
    <div class="container">
        <div class="row justify-content-center">
            <div class="subpad">
                <h1 class="text1">{{ 'app.ui.subscribe'|trans|upper }}</h1>
                <p>Узнавайте об акциях и новинках первым! Получайте советы и идеи для вдохновения!</p>
                <div class="d-flex subpadinput">
                    <input class="subinput" type="text" required name="sub" value="" placeholder="Ваш email">
                    <input type="submit" class="submail" value="ПОДПИСАТЬСЯ">
                </div>
            </div>
        </div>
    </div>
</div>