<!DOCTYPE html>

<html lang="{{ app.request.locale|slice(0, 2) }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}{{ 'sylius.ui.shop_name'|trans }}{% endblock %}</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {% block stylesheets %}
{#        {% include '@SyliusUi/_stylesheets.html.twig' with {'path': 'assets/shop/css_old/bootstrap/bootstrap.min.css'} %}#}
{#        {% include '@SyliusUi/_stylesheets.html.twig' with {'path': 'assets/shop/css_old/bootstrap/bootstrap-theme.min.css'} %}#}
{#        {% include '@SyliusUi/_stylesheets.html.twig' with {'path': 'assets/shop/css_old/font-awesome.min.css'} %}#}
{#        {% include '@SyliusUi/_stylesheets.html.twig' with {'path': 'assets/shop/css_old/bootstrap/bootstrap-social.css'} %}#}
{#        {% include '@SyliusUi/_stylesheets.html.twig' with {'path': 'assets/shop/css_old/style.css'} %}#}
{#        {% include '@SyliusUi/_stylesheets.html.twig' with {'path': 'assets/shop/css/main.css'} %}#}
        {% include '@SyliusUi/_stylesheets.html.twig' with {'path': 'assets/shop/css/index.css'} %}
{#        {% include '@SyliusUi/_stylesheets.html.twig' with {'path': 'assets/shop/css/bootstrap.min.css'} %}#}
    {% endblock %}
    {% block metatags %}
    {% endblock %}   
</head>

{% block layout %}
<body class="page">
    <div class="page__catalog section">
        <header class="header section">
            <div class="header__container header__container-catalog">
            {% block header %}
                    {% include '@SyliusShop/_contact.html.twig'%}
                </div>
            {% endblock %}
        </header>
        <main class="content">
            {% block content %}
                {% include '@SyliusShop/Taxon/_icon.html.twig' %}
            {% endblock %}
        </main>

        {% block footer %}
            {% include '@SyliusShop/_subscribe.html.twig' %}
            {% include '@SyliusShop/_footer.html.twig' %}
        {% endblock %}
    {#{% include '@SyliusUi/Modal/_confirmation.html.twig' %}#}
    </div>
</body>
{% endblock %}


{% block javascripts %}
    {% include '@SyliusUi/_javascripts.html.twig' with {'path': 'assets/shop/js/app.js'} %}
    <!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter44477557 = new Ya.Metrika({ id:44477557, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/44477557" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
    <!-- Google.Analytics counter --> <script type="text/javascript"> !function(a,b,c,d,e,f,g){a.GoogleAnalyticsObject=e,a[e]=a[e]||function(){(a[e].q=a[e].q||[]).push(arguments)},a[e].l=1*new Date,f=b.createElement(c),g=b.getElementsByTagName(c)[0],f.async=1,f.src=d,g.parentNode.insertBefore(f,g)}(window,document,"script","https://www.google-analytics.com/analytics.js","ga"),ga("create","UA-98335457-1","auto"),ga("send","pageview");</script> <!-- /Google.Analytics counter -->
{% endblock %}    
<script src="https://cdnjs.cloudflare.com/ajax/libs/SlickNav/1.0.10/jquery.slicknav.min.js"></script>
<script>
	$(function(){
        $('#menu').slicknav({
            appendTo: '#mobile-menu',
            label: 'Меню',
            init: function() {
                var menu = $('#mobile-menu');
                
                $(menu).find('.ui.dropdown.item').click(function(evt) {
                    evt.stopPropagation();

                    var currentTarget = evt.currentTarget;
                    var dropdown = $(currentTarget).find('> .menu');

                    if (dropdown.length) {
                        $(dropdown).slideToggle();
                    }
                });
            }
        });

        $('.menu-catalog__title').on('click', function(evt) {
            var text = $(evt.currentTarget).text();

            console.log(text);

            $(evt.currentTarget).text(
                text == "Открыть каталог" ? "Закрыть каталог" : "Открыть каталог");

            $('.catalog-menu__wrap').toggleClass('menu-catalog-hide');

            return false;
        });
	});
</script>
</html>
