.popup__container-enter {
    width: 560px;
}

@media screen and (max-width: 580px) {
    .popup__container-enter {
        width: 92%;
        padding-bottom: 0;
    }
}

@media screen and (max-width: 400px) {
    .popup__container-enter {
        width: 288px;
    }
}