.header__info_basket {
    width: 37px;
    height: 37px;
    margin-right: 8px;
}

@media screen and (max-width: 1024px) {
    .header__info_basket {
        width: 22px;
        height: 22px;
    }
}

@media screen and (max-width: 600px) {
    .header__info_basket {
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width: 480px) {
    .header__info_basket {
        width: 28px;
        height: 30px;
    }
}