.color__button {
    width: 35px;
    height: 35px;
    background-color: rgba(89, 81, 90, 0.4);
    border-radius: 5px;
    border: none;
    color: #FFFEFF;
    text-align: center;
    outline: none;
}

.color__button:hover {
    background: #339999;
    opacity: 0.4;
    cursor: pointer;
}
