.filter__button-card {
    margin-left: 33%;
    margin-bottom: 10%;
}

@media screen and (max-width: 600px) {
    .filter__button-card {
        margin-left: 28%;
    }
}

@media screen and (max-width: 420px) {
    .filter__button-card {
        max-width: 300px;
        padding: 5px 20px 5px 9px;
        margin: 10% auto 18%;
    }
}