.order__box-product {
    display: grid;
    grid-template-columns: 46% 27% 20%;
    gap: 2%;
    grid-template-rows: 65px;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 36px;
    background-image: url("../../../../img/border.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    margin: 0 20px;
}

@media screen and (max-width: 1100px) {
    .order__box-product {
        grid-template-columns: 52% 27% 20%;
    }
}

@media screen and (max-width: 1024px) {
    .order__box-product {
        grid-template-columns: 54% 13% 20%;
    }
}