@import url(__title/delivery__title.css);
@import url(__container/delivery__container.css);
@import url(__item/delivery__item.css);
@import url(__box/delivery__box.css);
@import url(__price/delivery__price.css);
@import url(__container-payment/delivery__container-payment.css);

.delivery {
    padding-bottom: 54px;
    padding-top: 52px;
    background-image: url("../../../img/border.svg");
    background-repeat: no-repeat;
    background-position: bottom;

}

@media screen and (max-width: 1150px) {
    .delivery {
        padding: 0 2% 5% 4%;
        margin: 0;
    }
}

@media screen and (max-width: 950px) {
    .delivery {
        padding: 4% 2% 5% 2%;

    }
}

@media screen and (max-width: 900px) {
    .delivery {
        padding: 4% 2% 5% 4%;
    }
}

@media screen and (max-width: 750px) {
    .delivery {
        margin: 0 0 0 7%;
    }
}

@media screen and (max-width: 600px) {
    .delivery {
        width: 100%;
        padding: 4% 2% 5% 9%;
        margin: 0;
    }
}

@media screen and (max-width: 480px) {
    .delivery {
        width: auto;
    }
}
