.basket__price-item {
    font-size: 20px;
    line-height: 41px;
    margin: 0;
    font-weight: bold;
}

@media screen and (max-width: 320px) {
    .basket__price-item {
        text-align: center;
    }
}