.delivery__container-payment {
    padding-top: 0;
    padding-bottom: 28px;
}

@media screen and (max-width: 800px) {
    .delivery__container-payment {
        flex-direction: inherit;
    }
}

@media screen and (max-width: 550px) {
    .delivery__container-payment {
        flex-direction: column;
    }
}