.footer__column-map {
    font-size: 18px;
    font-weight: 400;
    margin-left: 31px;
}

@media screen and (max-width: 900px) {
    .footer__column-map {
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {
    .footer__column-map {
        font-size: 10px;
    }
}

@media screen and (max-width: 1280px) {
    .footer__column-map {
        display: none;
        font-size: 15px;
    }
}

@media screen and (max-width: 320px) {
    .footer__column-map {
        margin-left: 4%;
    }
}
