@import url(_active/filter__list_active.css);
@import url(_country/filter__list_country.css);

.filter__list {
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    color: #59515A;
    padding: 0 5%;
}

@media screen and (max-width: 800px){
    .filter__list {
        font-size: 15px;
        line-height: 23px;
    }
}
@media screen and (max-width: 520px){
    .filter__list {
        padding: 2% 5%;
        line-height: 13px;
        font-size: 17px;
    }
}