.feedback__questions {
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .feedback__questions {
        font-size: 20px;
        line-height: 28px;
    }
}

@media screen and (max-width: 800px) {
    .feedback__questions {
        font-size: 10px;
        line-height: 18px;
    }
}

@media screen and (max-width: 600px) {
    .feedback__questions {
        font-size: 30px;
        line-height: 38px;
    }
}

@media screen and (max-width: 480px) {
    .feedback__questions {
        font-size: 23px;
    }
}
