.feedback__form {
    display: flex;
    justify-content: flex-end;
    font-family: "Roboto", Arial, sans-serif;
    padding-top: 3%;
}

@media screen and (max-width: 1024px) {
    .feedback__form {
        padding-top: 2%;
    }
}

@media screen and (max-width: 600px) {
    .feedback__form {
        padding-top: 5%;
        justify-content: center;
    }
}

@media screen and (max-width: 480px) {
    .feedback__form {
        padding-top: 2%;
    }
}
