<section class="icon  section">
    <div class="icon__links">
        <a class="icon__link icon__img_yarn icon__img" href="#" target="_blank"></a>
        <a class="icon__link icon__img_needles icon__img" href="#" target="_blank"></a>
        <a class="icon__link icon__img_scissors icon__img" href="#" target="_blank"></a>
        <a class="icon__link icon__img_soap icon__img" href="#" target="_blank"></a>
        <a class="icon__link icon__img_stocks icon__img" href="#" target="_blank"></a>
    </div>
    <div class="icon__items">
        <a class="icon__item">Пряжа</a>
        <a class="icon__item">Спицы и крючки</a>
        <a class="icon__item">Аксессуары</a>
        <a class="icon__item">Товары для вязания</a>
        <a class="icon__item icon__item_accent">Акции</a>
    </div>

    <div class="icon__links-mobile">
        <a class="icon__link icon__img_yarn icon__img" href="#" target="_blank"></a>
        <a class="icon__link icon__img_needles icon__img" href="#" target="_blank"></a>
        <a class="icon__link icon__img_scissors icon__img" href="#" target="_blank"></a>
    </div>
    <div class="icon__items-mobile">
        <a class="icon__item">Пряжа</a>
        <a class="icon__item">Спицы и крючки</a>
        <a class="icon__item icon__item_accent">Аксессуары</a>
    </div>

    <div class="icon__links-mobile">
        <a class="icon__link icon__img_soap icon__img" href="#" target="_blank"></a>
        <a class="icon__link icon__img_stocks icon__img" href="#" target="_blank"></a>
    </div>
    <div class="icon__items-mobile-item">
        <a class="icon__item">Товары для вязания</a>
        <a class="icon__item icon__item_accent">Акции</a>
    </div>
</section>