<section class="instagram section">
    <div class="instagram__container">
        <img class="instagram__logo" src="/assets/shop/img/instagram.png" alt="инстаграм">
        <a href="https://instagram.com/marinewool.ru" target="_blank" class="instagram__marinewool">@marinewool.ru</a>
        <p class="instagram__info">Еще больше полезных публикаций в нашем Instagram</p>
        <figure class="selling yarn_new yarn_instagram selling__instagram">
            <a href="#"><img class="yarn__img yarn__img_instagram" src="/assets/shop/img//pub-one.png"
                             alt="публикация в инстаграм"></a>
            <a href="#"><img class="yarn__img yarn__img_instagram" src="/assets/shop/img/pub-two.png"
                             alt="публикация в инстаграм"></a>
            <a href="#"> <img class="yarn__img yarn__img_instagram" src="/assets/shop/img/pub-three.png"
                              alt="публикация в инстаграм"></a>
            <a href="#"><img class="yarn__img yarn__img_instagram" src="/assets/shop/img/pub-four.png"
                             alt="публикация в инстаграм"></a>
        </figure>
        <a href="#" target="_blank" class="instagram__load"></a>
    </div>
</section>