.delivery__title {
    font-size: 35px;
    line-height: 44px;
    text-align: left;
    padding-bottom: 31px;
    font-family: "Amatic SC", Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0;
}