.footer__column-links-nav_map {
    width: 58%;
    padding-left: 0;
    float: right;
}


@media screen and (max-width: 1280px) {
    .footer__column-links-nav_map {
        width: 100%;
    }
}

@media screen and (max-width: 420px) {
    .footer__column-links-nav_map {
        padding: 0;
    }
}


