<div class="popup popup_type-order">
    <div class="popup__container popup__container-enter">
        <button type="button" class="popup__closed-icon"></button>
        <div class="popup__registration popup__registration-enter">
            <h5 class="popup__title popup__title-enter">Заказ оформлен</h5>
        </div>
        <form action="#" class="form__popup-enter form__popup-order">
            <img class="form__image" src="/assets/shop/img/success.png" alt="Заказ оформлен">
            <h5 class="form__title">Ваш заказ <span class="form__title_order">№4895</span> успешно оформлен!</h5>
            <p class="form__subtitle form__title">Мы свяжемся с вами в ближайшее время для уточнения деталей заказа</p>
            <button type="submit" class="form__submit-button form__submit-button-enter form__submit-button_disabled">
                ок
            </button>
        </form>
    </div>
</div>