{% extends '@SyliusShop/layout.html.twig' %}

{% block metatags %}
{% endblock %}

{% block content %}
<section class="new about section">
    <h1 class="new__title about__title">{{ static_content.header }}</h1>
    {{ static_content.content|raw }}
</section>
{% endblock %}
