<div class="popup popup_type-filter">
    <div class="popup__container popup__container-filter">
        <button type="button" class="popup__closed-icon"></button>
        <div class="popup__filter">
            <h5 class="popup__title popup__title-filter">Фильтр товаров</h5>
        </div>
        <div class="filter__container">
            <div class="filter__box">
                <input id="brands-popup" name="accordion" type="checkbox" class="filter__input-mobile filter__input">
                <label for="brands-popup" class="filter__label">Бренды</label>
                <article class="filter__article">
                    <menu class="filter__menu">
                        <li class="filter__list ">
                            <a href="#" class="filter__link">Drops
                                <span class="filter__list_country">(Норвегия) 18</span>
                            </a>
                        </li>
                        <li class="filter__list filter__list_active">
                            <a href="#" class="filter__link filter__link_active">Sandnes Garn
                                <span class="filter__list_country">(Норвегия) 6</span>
                            </a>
                        </li>
                        <li class="filter__list">
                            <a href="#" class="filter__link">Infinity Design
                                <span class="filter__list_country">(Норвегия) 7</span>
                            </a>
                        </li>
                        <li class="filter__list">
                            <a href="#" class="filter__link">Lana Gatto
                                <span class="filter__list_country">(Италия) 7</span>
                            </a>
                        </li>
                        <li class="filter__list filter__list_active">
                            <a href="#" class="filter__link filter__link_active">Fonty
                                <span class="filter__list_country">(Франция) 6</span>
                            </a>
                        </li>
                        <li class="filter__list">
                            <a href="#" class="filter__link">BBB Filati
                                <span class="filter__list_country">(Италия) 2</span>
                            </a>
                        </li>
                        <li class="filter__list">
                            <a href="#" class="filter__link">Filati
                                <span class="filter__list_country">(Италия) 3</span>
                            </a>
                        </li>
                        <li class="filter__list">
                            <a href="#" class="filter__link">Casa del Filato
                                <span class="filter__list_country">(Италия) 2</span>
                            </a>
                        </li>
                        <li class="filter__list">
                            <a href="#" class="filter__link">Laines du Nord
                                <span class="filter__list_country">(Италия) 1</span>
                            </a>
                        </li>
                        <li class="filter__list">
                            <a href="#" class="filter__link">Nako
                                <span class="filter__list_country">(Турция) 8</span>
                            </a>
                        </li>
                        <li class="filter__list">
                            <a href="#" class="filter__link">Gazzal
                                <span class="filter__list_country">(Турция) 5</span>
                            </a>
                        </li>
                        <li class="filter__list">
                            <a href="#" class="filter__link">Alize
                                <span class="filter__list_country">(Турция) 7</span>
                            </a>
                        </li>
                        <li class="filter__list">
                            <a href="#" class="filter__link">YarnArt
                                <span class="filter__list_country">(Турция) 2</span>
                            </a>
                        </li>
                        <li class="filter__list">
                            <a href="#" class="filter__link">Etrofil
                                <span class="filter__list_country">(Турция) 3</span>
                            </a>
                        </li>
                        <li class="filter__list">
                            <a href="#" class="filter__link">Koala Baby
                                <span class="filter__list_country">(Турция) 7</span>
                            </a>
                        </li>
                        <li class="filter__list">
                            <a href="#" class="filter__link">Himalaya
                                <span class="filter__list_country">(Турция) 6</span>
                            </a>
                        </li>
                        <li class="filter__list">
                            <a href="#" class="filter__link">Ирис
                                <span class="filter__list_country">(Италия) 3</span>
                            </a>
                        </li>
                        <li class="filter__list">
                            <a href="#" class="filter__link">Filati
                                <span class="filter__list_country">(Италия) 3</span>
                            </a>
                        </li>
                        <li class="filter__list">
                            <a href="#" class="filter__link">Casa del Filato
                                <span class="filter__list_country">(Италия) 2</span>
                            </a>
                        </li>
                        <li class="filter__list">
                            <a href="#" class="filter__link">Laines du Nord
                                <span class="filter__list_country">(Италия) 1</span>
                            </a>
                        </li>
                        <li class="filter__list">
                            <a href="#" class="filter__link"> Nako
                                <span class="filter__list_country">(Турция) 8</span>
                            </a>
                        </li>
                        <li class="filter__list">
                            <a href="#" class="filter__link">Gazzal
                                <span class="filter__list_country">(Турция) 5</span>
                            </a>
                        </li>
                        <li class="filter__list">
                            <a href="#" class="filter__link">Alize
                                <span class="filter__list_country">(Турция) 7</span>
                            </a>
                        </li>
                    </menu>
                </article>
                <div>
                    <input id="color-mobile" name="accordion-1" type="checkbox"
                           class="filter__input-mobile filter__input">
                    <label for="color-mobile" class="filter__label">Состав</label>
                    <article class="filter__article">
                        <menu class="filter__menu">
                            <li class="filter__list">
                                <a href="#" class="filter__link">Infinity Design
                                    <span class="filter__list_country">(Норвегия) 7</span>
                                </a>
                            </li>
                            <li class="filter__list">
                                <a href="#" class="filter__link">Lana Gatto
                                    <span class="filter__list_country">(Италия) 7</span>
                                </a>
                            </li>
                            <li class="filter__list filter__list_active">
                                <a href="#" class="filter__link filter__link_active">Fonty
                                    <span class="filter__list_country">(Франция) 6</span>
                                </a>
                            </li>
                            <li class="filter__list">
                                <a href="#" class="filter__link">BBB Filati
                                    <span class="filter__list_country">(Италия) 2</span>
                                </a>
                            </li>
                            <li class="filter__list">
                                <a href="#" class="filter__link">Filati
                                    <span class="filter__list_country">(Италия) 3</span>
                                </a>
                            </li>
                            <li class="filter__list">
                                <a href="#" class="filter__link">Infinity Design
                                    <span class="filter__list_country">(Норвегия) 7</span>
                                </a>
                            </li>
                            <li class="filter__list">
                                <a href="#" class="filter__link">Lana Gatto
                                    <span class="filter__list_country">(Италия) 7</span>
                                </a>
                            </li>
                            <li class="filter__list filter__list_active">
                                <a href="#" class="filter__link filter__link_active">Fonty
                                    <span class="filter__list_country">(Франция) 6</span>
                                </a>
                            </li>
                            <li class="filter__list">
                                <a href="#" class="filter__link">BBB Filati
                                    <span class="filter__list_country">(Италия) 2</span>
                                </a>
                            </li>
                            <li class="filter__list">
                                <a href="#" class="filter__link">Filati
                                    <span class="filter__list_country">(Италия) 3</span>
                                </a>
                            </li>
                            <li class="filter__list">
                                <a href="#" class="filter__link">Infinity Design
                                    <span class="filter__list_country">(Норвегия) 7</span>
                                </a>
                            </li>
                            <li class="filter__list">
                                <a href="#" class="filter__link">Lana Gatto
                                    <span class="filter__list_country">(Италия) 7</span>
                                </a>
                            </li>
                            <li class="filter__list filter__list_active">
                                <a href="#" class="filter__link filter__link_active">Fonty
                                    <span class="filter__list_country">(Франция) 6</span>
                                </a>
                            </li>
                            <li class="filter__list">
                                <a href="#" class="filter__link">BBB Filati
                                    <span class="filter__list_country">(Италия) 2</span>
                                </a>
                            </li>
                            <li class="filter__list">
                                <a href="#" class="filter__link">Filati
                                    <span class="filter__list_country">(Италия) 3</span>
                                </a>
                            </li>
                        </menu>
                    </article>
                </div>
                <div>
                    <input id="structure-mobile" name="accordion-1" type="checkbox"
                           class="filter__input-mobile filter__input">
                    <label for="structure-mobile" class="filter__label">Вес</label>
                    <article class="filter__article">
                        <menu class="filter__menu">
                            <li class="filter__list">
                                <a href="#" class="filter__link">50 г.
                                </a>
                            </li>
                            <li class="filter__list">
                                <a href="#" class="filter__link">100 г.
                                </a>
                            </li>
                            <li class="filter__list filter__list_active">
                                <a href="#" class="filter__link filter__link_active">150 г.
                                </a>
                            </li>
                            <li class="filter__list">
                                <a href="#" class="filter__link">200 г.
                                </a>
                            </li>
                            <li class="filter__list">
                                <a href="#" class="filter__link">500 г.
                                </a>
                            </li>
                            <li class="filter__list">
                                <a href="#" class="filter__link">1000 г.
                                </a>
                            </li>
                        </menu>
                    </article>
                </div>
                <div>
                    <input id="volume-mobile" name="accordion-1" type="checkbox"
                           class="filter__input-mobile filter__input">
                    <label for="volume-mobile" class="filter__label filter__label-accent">Метраж</label>
                    <article class="filter__article filter__article_volume">
                        <menu class="filter__menu">
                            <li class="filter__list">
                                <a href="#" class="filter__link">0.5 м.</a>
                            </li>
                            <li class="filter__list">
                                <a href="#" class="filter__link">1 м.</a>
                            </li>
                            <li class="filter__list filter__list_active">
                                <a href="#" class="filter__link filter__link_active">1.5 м.</a>
                            </li>
                            <li class="filter__list">
                                <a href="#" class="filter__link">2 м.</a>
                            </li>
                            <li class="filter__list">
                                <a href="#" class="filter__link">2.5 м.</a>
                            </li>
                            <li class="filter__list">
                                <a href="#" class="filter__link">3 м.</a>
                            </li>
                            <li class="filter__list">
                                <a href="#" class="filter__link">5 м.</a>
                            </li>
                        </menu>
                    </article>
                </div>
            </div>
        </div>

    </div>
</div>

{% include '@SyliusUi/_javascripts.html.twig' with {'path': 'assets/shop/js/app.js'} %}
<script type="text/javascript">
    jQuery(function ($) {
        $('.filter__input-mobile').on('click', function (e) {
            if ($(this).is(':checked')) {
                $('.filter__input-mobile:checked').not($(this)).prop('checked', false);
            }
        })
    });
</script>