{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    {{ parent() }}
     <section class="new catalog section">
         <div class="new__container new__container-catalog">
             <p class="basket__arrow"><a href="{{ path('sylius_shop_homepage') }}" class="new__link">{{ 'sylius.ui.home'|trans }}</a></p>
             <h2 class="new__title catalog__title">Пряжа</h2>
         </div>
{#         Здесь нужен отдельный _breadcrumb где будет генериться title (пряжа/спицы/и тд#}

         <div class="catalog__flex">
              {% include '@SyliusShop/Product/Show/_sidebar.html.twig' %}
                <div class="yarn">
{#                  Кнопка которая открывает модальное окно с фильтром товаров на разрешении от 520px#}
                    <button type="button" class="filter__button">Фильтр товаров</button>
                    {% include '@SyliusShop/Product/Show/_selectedHead.html.twig' %}
              {% include '@SyliusShop/Product/Index/_main.html.twig' %}
                </div>
         </div>
     </section>
    <section class="new promotional section">
        {% include '@SyliusShop/Product/Show/_promotionalProducts.html.twig' %}
    </section>
{% endblock %}
