{% extends '@SyliusShop/layout.html.twig' %}

{% block metatags %}
{% endblock %}

{% block content %}
<div class="col-xs-12">
<h3 class="ui monster dividing header text-center">{{ static_content.header }}</h3>
  {{ static_content.content|raw }}
</div>  
{% endblock %}
